body {
  --fbc-blue-60: #0060df;
  --fbc-blue-70: #003eaa;
  --fbc-gray-20: #ededf0;
  --fbc-light-gray: #f0f0f4;
  --fbc-white: #ffffff;
  --fbc-transition: all 0.15s cubic-bezier(0.07, 0.95, 0, 1);
  --fbc-borders: 1px solid #ededf0;
  --fbc-primary-text: #15141a;
  --fbc-secondary-text: #5b5b66;
  --fbc-font-size: 13px;
}

input.mantine-Select-input[type="search"] {
  box-sizing: inherit;
}
