.resistant-thumb {
  width: 200px;
  height: 200px;
}

@media (max-width: 1000px) {
  .resistant-thumb {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .resistant-thumb {
    width: 100px;
    height: 100px;
  }
}

.thumb {
  cursor: pointer;
}

.thumb .thumb-name {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
}

.thumb:hover {
  border: black solid 2px;
  box-sizing: border-box;
}

.thumb:hover .thumb-name {
  display: block;
}
