:root {
  --lt-color-gray-100: #f8f9fc;
  --lt-color-gray-200: #f1f3f9;
  --lt-color-gray-300: #dee3ed;
  --lt-color-gray-400: #c2c9d6;
  --lt-color-gray-500: #8f96a3;
  --lt-color-gray-600: #5e636e;
  --lt-color-gray-700: #2f3237;
  --lt-color-gray-800: #1d1e20;
  --lt-color-gray-900: #111213;
  --lt-color-white: #fff !important;
  --lt-color-black: #111213 !important;
  --lt-color-transparent: rgba(255, 255, 255, 0) !important;
  --lt-color-background-light: var(--lt-color-gray-100) !important;
  --lt-color-background-default: var(--lt-color-gray-200) !important;
  --lt-color-background-dark: var(--lt-color-gray-300) !important;
  --lt-color-border-light: var(--lt-color-gray-200) !important;
  --lt-color-border-default: var(--lt-color-gray-300) !important;
  --lt-color-border-dark: var(--lt-color-gray-400) !important;
  --lt-color-text-very-light: var(--lt-color-gray-500) !important;
  --lt-color-text-light: var(--lt-color-gray-600) !important;
  --lt-color-text-default: var(--lt-color-gray-700) !important;
  --lt-color-text-dark: var(--lt-color-gray-800) !important;
  --lt-color-overlay-default: #fff !important;
  --lt-color-overlay-dark: #fff !important;
  --lt-color-overlay-transparent: rgba(0, 0, 0, 0.1) !important;
  --lt-shadow-website-overlay: 0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
  --lt-shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16),
    0 1px 4px -1px rgba(0, 0, 0, 0.04);
  --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1),
    0 6px 20px -3px rgba(0, 0, 0, 0.2);
}
